In [1]:
import pandas as pd 
import sqlite3
import numpy as np

In [24]:
data = {
    "Name": ["Nagarjun", "Arjun", "Zhaharan", "Raman"],
    "Age" : [21,21,2,50],
    "Salary" : [10000,20000,20000,40000],
    "Education" : ["BE", "ME", np.nan, None]
}

In [25]:
df = pd.DataFrame(data)
df

       Name  Age  Salary Education
0  Nagarjun   21   10000        BE
1     Arjun   21   20000        ME
2  Zhaharan    2   20000       NaN
3     Raman   50   40000      None

In [26]:
df.to_csv("names.csv", index=False)

In [2]:
from dataclasses import dataclass, asdict, astuple

In [28]:
with sqlite3.connect("names.db") as con:
    cur = con.cursor()
    pass

In [29]:
con

In [30]:
with sqlite3.connect("names.db") as con:
    cur = con.cursor()
    df = pd.read_sql_query("SELECT * FROM Person;", con)
df.iloc[0].tolist()

['Nagarjun', 22, 100000, 'SChool']

In [31]:
@dataclass
class CustomData:
    name : str
    age : int 
    salary : float 
    education : str

    def get_attr(self):
        return asdict(self)
    
    def get_data_tuple(self):
        return astuple(self)
    
    def add_new_record(self) -> None :
        with sqlite3.connect("names.db") as con:
            cur = con.cursor()
            statement :str = f"INSERT INTO Person {tuple(self.get_attr().keys())} VALUES {self.get_data_tuple()};"
            cur.execute(statement)
            con.commit()
            cur.close()
            return f"Data added sucessfully"

    def update(self,**data):
        req_keys = set(self.get_attr().keys())
        update_dict = {key:value for key, value in data.items() if key in req_keys}
        for key, value in update_dict.items():
            setattr(self, key, value) 
        string = ""
        for key, value in update_dict.items():
            string += f"{key}='{value}' "
        statement = f"UPDATE Person SET {string} WHERE name='{self.name}';"
        with sqlite3.connect("names.db") as con:
            cur = con.cursor()
            cur.execute(statement)
            con.commit()
        return f"Updated sucessfully for {self.name}'s record"
    
    def delete(self):
        with sqlite3.connect("names.db") as con:
            cur = con.cursor()
            statement = f"DELETE FROM PERSON WHERE name='{self.name}';"
            cur.execute(statement)
            con.commit()
            return f"Record deleted sucesffuly"

In [32]:
with sqlite3.connect("names.db") as con:
    cur = con.cursor()
    df = pd.read_sql_query("SELECT * FROM Person;", con)
df

       name  age  salary education
0  Nagarjun   22  100000    SChool

In [33]:
obj = CustomData('Ram', 15, 1000, 'BE')
obj.add_new_record()

'Data added sucessfully'

In [34]:
obj.update(**{"education":"School"})

"Updated sucessfully for Ram's record"

In [35]:
obj.delete()

'Record deleted sucesffuly'

In [3]:
from typing import Optional

In [37]:
@dataclass
class CustomData:
    name : str
    age : int 
    salary : float 
    education : str
    id : Optional[int] = None

    def get_attr(self):
        return asdict(self)
    
    def get_data_tuple(self):
        return astuple(self)
    
    def add_new_record(self) -> None :
        with sqlite3.connect("names2.db") as con:
            cur = con.cursor()
            columns = tuple(col for col in tuple(self.get_attr().keys()) if col != "id")
            values = self.get_data_tuple()[:-1]
            statement : str = f"INSERT INTO Person {columns} VALUES {values};"
            cur.execute(statement)
            con.commit()
            cur.close()
            return f"Data added sucessfully"

    def update(self,**data):
        req_keys = set(self.get_attr().keys())
        update_dict = {key:value for key, value in data.items() if key in req_keys}
        for key, value in update_dict.items():
            setattr(self, key, value) 
        string = "".join([f"{key}='{value}' " for key, value in update_dict.items() if key != "id"])
        statement :str = f"UPDATE Person SET {string} WHERE id = '{self.id}';"
        with sqlite3.connect("names2.db") as con:
            cur = con.cursor()
            cur.execute(statement)
            con.commit()
            return f"Updated sucessfully for {self.name}'s record"
    
    def delete(self):
        with sqlite3.connect("names2.db") as con:
            cur = con.cursor()
            statement = f"DELETE FROM PERSON WHERE id ='{self.id}';"
            cur.execute(statement)
            con.commit()
            return f"Record deleted sucesffuly"

In [38]:
obj = CustomData('Ram', 15, 1000, 'BE')

In [39]:
data = {'name': 'Nagarjun', 'contact_number': '1234', 'Manjal Podi': 5, 'Thu paruppu': 10}

In [1]:
import pandas as pd 
import numpy as np
import sqlite3
from typing import Optional

In [12]:

class DonationRecord:
    def __init__(self, ingredients:dict,name:str, contact_number:str, book:str, place:str, date:str, id:Optional[int]=None):
        self.id = id
        self.book = book
        self.name = name
        self.contact_number = contact_number
        self.place = place
        self.date = date 
        self.ingredients = {key: 0 for key in DonationRecord.get_columns()}
        self.ingredients.update(filter_columns(ingredients))

    def __str__(self):
        return self.name

    def get_params(self):
        return self.__dict__
    
    def get_data_tuple(self):
        return tuple(self.__dict__.values())
    
    @staticmethod
    def get_columns():
        return [
            'Manjal Podi', 'Pachai Arisi(bag)', 'Pachai Arisi(Loose)',
            'Puzungal Arisi(Bag)', 'Puzungal Arisi(Loose)', 'Ulundhu', 'Nei',
            'Sugar', 'Arisi maavu', 'Thu Parupu', 'Pa parupu', 'Annasi Poo',
            'Ginger', 'Rock Salt', 'Table Salt', 'Elachi', 'Groundnut Oil',
            'Ka parupu', 'Kadala Mavu', 'Kadugu', 'Garam Masala', 'Krambu',
            'seeragam', 'Sombu', 'Grapes', 'Gingerly oil', 'Pattai', 'Brinji Ilai',
            'Perungayam', 'Puli', 'Malli', 'Malli powder', 'Milagai Vathal',
            'Milagai Powder', 'Milagu', 'Milagu Thul', 'Cashew', 'Rava',
            'Refined oil', 'Vendhayam', 'Vellam', 'Garlic', 'Kal Pasi', 'Pumpkin',
            'Sambar Powder', 'Potato', 'katti peruganyam', 'Mango Pack', 'Nuts',
            'Giragam', 'Kalkandu', 'Mumthal', 'Tea Powder', 'Coconut', 'Appalam',
            'Lk Glass', 'Silvar Glass', 'Sabeena Powder', 'Rava.1', 'Kungumam',
            'Kismis', 'Fortune Oil', 'Sengal(Bricks)', 'Mango(Mangai)', 'Javaraci',
            'Hp Gas', 'Curd', 'Vetttrillai', 'Pakku', 'Butter', 'Valiaikai',
            'Samiya', 'Gold Winner', 'Dates', 'Ballari', 'Manjal Kayiru',
            'Kungumam pack', 'Catds', 'Kungumam cover', 'Plastic Cup', 'Sponge',
            'Coffee powder', 'Gas cylinder', 'palasaraku porul', 'Pam poil'
          ]
    
    def insert_record(self):
        with sqlite3.connect("madurai.db") as con:
            cur = con.cursor()
            columns = tuple(self.get_params().keys())[1:-1] + tuple(self.get_params()["ingredients"].keys())
            values = tuple(self.get_params().values())[1:-1] + tuple(self.get_params()["ingredients"].values())
            statement = f"INSERT INTO donation_records {columns} VALUES {values};"
            cur.execute(statement)
            con.commit()
            return f"{self.name}'s record is inserted succesfully"
        
    def update_record(self,new_ingredients:dict):
        with sqlite3.connect("madurai.db") as con:
            cur = con.cursor()
            set_clause = ", ".join([f"{key}={value}" for key, value in filter_columns(ingredients=new_ingredients).items()])
            statement = f"UPDATE donation_records SET {set_clause} WHERE id={self.id};"
            cur.execute(statement)
            con.commit()
            return f"{self.name}'s data updated sucessfully"

    def delete_record(self):
        with sqlite3.connect("madurai.db") as con:
            cur = con.cursor()
            statement = f"DELETE FROM donation_records WHERE id = {self.id};"
            cur.execute(statement)
            con.commit()
            return f"{self.name}'s record is deleted successfully"

        
def filter_columns(ingredients):
    return {key:value for key, value in ingredients.items() if key in DonationRecord.get_columns()}

In [188]:
obj = DonationRecord(ingredients={
    'Manjal Podi':1000, 'Pachai Arisi(bag)':1000, 'Pachai Arisi(Loose)':1000, None:None
}, name="Nagarjun", contact_number="7708536847",
                     book="B1", place="Shivapuram", date="10/08/2003")

In [13]:
obj2 = DonationRecord({'Manjal Podi': 10.0, 'Pachai Arisi(bag)': 20, 'Pachai Arisi(Loose)': 30, 'Ulundhu': 22200, 'Nei': 100.0},'Sivakumar',  '990879697', 'Banglore', '2024-01-21', 'B5', 252)

In [14]:
obj2.insert_record()

"Sivakumar's record is inserted succesfully"

In [6]:
obj2.update_record(new_ingredients={"Nei":10, "Ginger":0, "Pattai":0})

"Sivakumar's data updated sucessfully"

In [7]:
obj2.delete_record()

"Sivakumar's record is deleted successfully"

In [16]:
obj3 = DonationRecord({}, "Naga", "", "B4", "KBM", "22/01/24")
obj3.insert_record()

"Naga's record is inserted succesfully"

In [18]:
obj3.id = 258

In [22]:
obj3.delete_record()

"Naga's record is deleted successfully"

In [123]:
obj = DonationRecord({"Manjal Podi":11, "Nei":1}, "Shivaji",
                     "", "B4", "", "")

In [125]:
obj.update_record(id=6,new_ingredients={"Manjal Podi":100, "Nei":100})

"UPDATE donation_records SET 'Manjal Podi'=100 'Nei'=100  WHERE id=6"

In [237]:
obj.inser_record()

"Nagarjun's record is inserted succesfully"

In [6]:
df = pd.read_csv("./updated_list.csv")
df.columns

Index(['book', 'S_No', 'date', 'name', 'place', 'contact_number',
       'Manjal Podi', 'Pachai Arisi(bag)', 'Pachai Arisi(Loose)',
       'Puzungal Arisi (Bag)', 'Puzungal Arisi (Loose)', 'Ulundhu', 'Nei',
       'Sugar', 'Arisi maavu', 'Thu Parupu', 'Pa parupu', 'Annasi Poo',
       'Ginger', 'Rock Salt', 'Table Salt', 'Elachi', 'Groundnut Oil',
       'Ka parupu', 'Kadala Mavu', 'Kadugu', 'Garam Masala', 'Krambu',
       'seeragam', 'Sombu', 'Grapes', 'Gingerly oil', 'Pattai', 'Brinji Ilai',
       'Perungayam', 'Puli', 'Malli', 'Malli powder', 'Milagai Vathal',
       'Milagai Powder', 'Milagu', 'Milagu Thul', 'Cashew', 'Rava',
       'Refined oil', 'Vendhayam', 'Vellam', 'Garlic', 'Kal Pasi', 'Pumpkin',
       'Sambar Powder', 'Potato', 'katti peruganyam', 'Mango Pack', 'Nuts',
       'Giragam', 'Kalkandu', 'Mumthal', 'Tea Powder', 'Coconut', 'Appalam',
       'Lk Glass', 'Silvar Glass', 'Sabeena Powder', 'Rava.1', 'Kungumam',
       'Kismis', 'Fortune Oil', 'Sengal (Bricks)', 'Mango (Mangai)',
       'Javaraci', 'Hp Gas', 'Curd', 'Vetttrillai', 'Pakku', 'Butter',
       'Valiaikai', 'Samiya', 'Gold Winner', 'Dates', 'Ballari',
       'Manjal Kayiru', 'Kungumam pack', 'Catds', 'Kungumam cover',
       'Plastic Cup', 'Sponge', 'Coffee powder', 'Gas cylinder',
       'palasaraku porul', 'Pam poil'],
      dtype='object')

In [7]:
for row in df[df.columns[0:5]].iterrows():
    value = row[1]
    break 
type(value)

pandas.core.series.Series

In [71]:
import pandas as pd 
import numpy as np 
import sqlite3

In [72]:
with sqlite3.connect("madurai.db") as con:
    df = pd.read_sql_query(" SELECT * FROM donation_records", con)
df

,id,name,contact_number,place,date,book,Manjal Podi,Pachai Arisi(bag),Pachai Arisi(Loose),Puzungal Arisi(Bag),...,Manjal Kayiru,Kungumam pack,Catds,Kungumam cover,Plastic Cup,Sponge,Coffee powder,Gas cylinder,palasaraku porul,Pam poil
0,1,Rajagopal & family,,,2023-04-20,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Karthikayan,,,2023-04-20,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Sai swastick Traders,,,2023-04-23,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Pranav Cards,,,2023-04-24,B1,0.0,0,0,0,...,0,0,0,8500,0,0,0,0,0,0
4,5,Sonaa Cards,,,2023-04-24,B1,0.0,0,0,0,...,0,0,10000,30000,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,248,Vimala,,,2023-04-29,B4,0.0,0,30,0,...,0,0,0,0,0,0,0,0,0,0
248,249,M latha,,,2023-04-29,B4,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,250,Rengasamy,,,2023-04-29,B4,0.0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
250,251,Kanchana devi,,,2023-04-29,B4,0.0,0,10,0,...,0,0,0,0,0,0,0,0,0,0
251,252,Sivakumar,990879697,Banglore,2024-01-21,B5,10.0,20,30,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
df.head(2)

,id,name,contact_number,place,date,book,Manjal Podi,Pachai Arisi(bag),Pachai Arisi(Loose),Puzungal Arisi(Bag),...,Manjal Kayiru,Kungumam pack,Catds,Kungumam cover,Plastic Cup,Sponge,Coffee powder,Gas cylinder,palasaraku porul,Pam poil
0,1,Rajagopal & family,,,2023-04-20,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Karthikayan,,,2023-04-20,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
res = df[df.index==2]

In [78]:
col = res.to_dict("split")["columns"]
data = res.to_dict("split")["data"]

In [76]:
def produce_non_zero_dict(column, values):
    return {key:value for key, value in zip(column, values[0]) if value !=0}

In [84]:
dict_ = {}
for c, value in zip(col, data[0]):
    if value!=0:
        print(f"{c}:{value}")

id:3
name:Sai swastick Traders
contact_number:
place:
date:2023-04-23
book:B1
Elachi:2.0

In [85]:
print(produce_non_zero_dict(col, data))

{'id': 3, 'name': 'Sai swastick Traders', 'contact_number': '', 'place': '', 'date': '2023-04-23', 'book': 'B1', 'Elachi': 2.0}

In [86]:
data = {'id': 1, 'name': 'Rajagopal & family', 'contact_number': '', 'place': '', 'date': '2023-04-20', 'book': 'B1', 'Rava': 10.0, 'Vellam': 40.0, 'Kungumam': 1}

In [89]:
def render_df(data:dict)->dict:
    ignore_list = ["id", "name", "place", "contact_number", "date", "book"]
    report = {}
    product_list = []
    quantity_list = []
    for key, value in data.items():
        if key not in ignore_list:
            product_list.append(key)
            quantity_list.append(value)

    report["Product"] = product_list
    report["Quantity"] = quantity_list
    return report

In [90]:
render_df(data=data)

{'Product': ['Rava', 'Vellam', 'Kungumam'], 'Quantity': [10.0, 40.0, 1]}

In [2]:
import sqlite3
import pandas as pd 
import numpy as np

In [5]:
with sqlite3.connect("madurai.db") as con:
    statement = "SELECT * FROM donation_records;"
    df = pd.read_sql_query(statement, con)
    print("Dataframe got")

Dataframe got

In [24]:
list_of_places = ["Chennai", "Coimbatore", "Madurai", "Kumbakonam", "Karuru"
                  ,"Dindugul"]
import random
random.choice(list_of_places)

'Coimbatore'

In [42]:
def generate_place(place):#empty paramater kodukanum
    list_of_places = ["Chennai", "Coimbatore", "Madurai", "Kumbakonam", "Karur"
                  ,"Dindugul", ""] 
    return random.choice(list_of_places)

In [43]:
df["place"] = df["place"].apply(generate_place)

In [44]:
df["place"].value_counts()

place
Madurai       41
Coimbatore    41
Karur         40
Kumbakonam    38
Dindugul      32
              32
Chennai       29
Name: count, dtype: int64

In [63]:
from typing import Optional

In [92]:
def filter_df(df, selected_book:Optional="", selected_place:Optional=""):
    if selected_place and selected_book:
        return df[(df["place"] == selected_place) & (df["book"] == selected_book)]
    elif selected_book:
        return df[df["place"] == selected_book]
    elif selected_place:
        return df[df["place"] == selected_place]
    else:
        return df

In [94]:
filter_df(df, selected_place="Kumbakonam")

,id,name,contact_number,place,date,book,Manjal Podi,Pachai Arisi(bag),Pachai Arisi(Loose),Puzungal Arisi(Bag),...,Manjal Kayiru,Kungumam pack,Catds,Kungumam cover,Plastic Cup,Sponge,Coffee powder,Gas cylinder,palasaraku porul,Pam poil
7,8,Murugesan,,Kumbakonam,2023-04-29,B2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,Nagarajan & Prema,,Kumbakonam,2023-04-29,B2,0.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Nevetha,,Kumbakonam,2023-04-29,B2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,Madurai Ammaiyappar ulvar pani mandram,,Kumbakonam,2023-04-29,B2,0.0,0,3,0,...,0,0,0,0,12,1,0,0,0,0
31,32,Muruganatham Cithra,,Kumbakonam,2023-04-29,B2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
50,51,Senthil Kumar & Sangeetha,,Kumbakonam,2023-04-29,B2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,52,BalaKrishanan,,Kumbakonam,2023-04-29,B2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53,54,Pradeep,,Kumbakonam,2023-04-29,B2,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,68,Renganathan,,Kumbakonam,2023-04-29,B3,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
70,71,Latha mai chennai,,Kumbakonam,2023-04-29,B3,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
84,85,Shiva kumar & sunitha,,Kumbakonam,2023-04-29,B3,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
86,87,Loganayagi,,Kumbakonam,2023-04-29,B3,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,91,Krishnaveni,,Kumbakonam,2023-04-29,B3,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,93,Vaishnavi durga,,Kumbakonam,2023-04-29,B3,0.0,0,15,0,...,0,0,0,0,0,0,0,0,0,0
102,103,R. Silanjini,,Kumbakonam,2023-04-29,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106,107,G K Enterpeises,,Kumbakonam,2023-04-29,B5,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
119,120,Anandan Hamsa Family - kln polytrtechnic,,Kumbakonam,2023-04-29,B5,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
124,125,G Ravishankar,,Kumbakonam,2023-04-29,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
126,127,New Trends,,Kumbakonam,2023-04-29,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,131,PalPandi son Family,,Kumbakonam,2023-04-30,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
131,132,Sri ramachandran R. Chandra Sekaran,,Kumbakonam,2023-04-30,B5,0.0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
136,137,M Sekar,,Kumbakonam,2023-04-30,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144,145,C S Keerthana,,Kumbakonam,2023-04-30,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151,152,M Sureshkannan,,Kumbakonam,2023-04-30,B5,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154,155,Kishore brothers,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,156,Sri meenakshi,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
156,157,Jayakumar velachery chennai,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,167,M Prabhakaran,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
175,176,Meenaskhi ganesh & uma kalyana sundaram,,Kumbakonam,2023-04-30,B6,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
189,190,Yamini ganeshan,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192,193,Sri kumaravel HP gas - sabari gurunath,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,8,0,0
194,195,Rajendran ganesh raja,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,197,S Rajendran,,Kumbakonam,2023-04-30,B6,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
197,198,D Prasanth kumar,,Kumbakonam,2023-04-30,B6,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214,215,P Ramakrishnana,,Kumbakonam,2023-04-29,B4,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
224,225,K Natarajan mandaveli chennai,,Kumbakonam,2023-04-29,B4,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,229,K Sundarrajan Suganya,,Kumbakonam,2023-04-29,B4,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
237,238,Saravana Kumar,,Kumbakonam,2023-04-29,B4,0.0,0,25,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
filter_df(df)

,id,name,contact_number,place,date,book,Manjal Podi,Pachai Arisi(bag),Pachai Arisi(Loose),Puzungal Arisi(Bag),...,Manjal Kayiru,Kungumam pack,Catds,Kungumam cover,Plastic Cup,Sponge,Coffee powder,Gas cylinder,palasaraku porul,Pam poil
0,1,Rajagopal & family,,Karur,2023-04-20,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Karthikayan,,Madurai,2023-04-20,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Sai swastick Traders,,Madurai,2023-04-23,B1,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Pranav Cards,,Karur,2023-04-24,B1,0.0,0,0,0,...,0,0,0,8500,0,0,0,0,0,0
4,5,Sonaa Cards,,Dindugul,2023-04-24,B1,0.0,0,0,0,...,0,0,10000,30000,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,249,M latha,,Coimbatore,2023-04-29,B4,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,250,Rengasamy,,,2023-04-29,B4,0.0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
250,251,Kanchana devi,,Madurai,2023-04-29,B4,0.0,0,10,0,...,0,0,0,0,0,0,0,0,0,0
251,270,Nagarjun R,,Karur,2024-01-25,B1,0.0,20,0,0,...,0,0,0,0,0,0,0,0,0,0
252,273,Ganeshan,,Madurai,2024-01-27,B1,20.0,100,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
book_option = df["book"].unique().tolist()
book_option.insert(0, "")
book_option

['', 'B1', 'B2', 'B3', 'B5', 'B6', 'B4']