In [79]:
import pandas as pd 
import numpy as np 
import sqlite3

In [80]:
df = pd.read_csv("updated_list.csv")
df.head()

,book,S_No,date,name,place,contact_number,Manjal Podi,Pachai Arisi(bag),Pachai Arisi(Loose),Puzungal Arisi(Bag),...,Manjal Kayiru,Kungumam pack,Catds,Kungumam cover,Plastic Cup,Sponge,Coffee powder,Gas cylinder,palasaraku porul,Pam poil
0,B1,1,2023-04-20,Rajagopal & family,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,B1,2,2023-04-20,Karthikayan,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,B1,3,2023-04-23,Sai swastick Traders,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,B1,4,2023-04-24,Pranav Cards,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8500.0,0.0,0.0,0.0,0.0,0.0,0.0
4,B1,5,2023-04-24,Sonaa Cards,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,10000.0,30000.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
df.replace(np.nan, "", inplace=True)

In [82]:
var = ['name', 'contact_number', 'place', 'date', 'book', 'Manjal Podi',
       'Pachai Arisi(bag)', 'Pachai Arisi(Loose)', 'Puzungal Arisi(Bag)',
       'Puzungal Arisi(Loose)', 'Ulundhu', 'Nei', 'Sugar', 'Arisi maavu',
       'Thu Parupu', 'Pa parupu', 'Annasi Poo', 'Ginger', 'Rock Salt',
       'Table Salt', 'Elachi', 'Groundnut Oil', 'Ka parupu', 'Kadala Mavu',
       'Kadugu', 'Garam Masala', 'Krambu', 'seeragam', 'Sombu', 'Grapes',
       'Gingerly oil', 'Pattai', 'Brinji Ilai', 'Perungayam', 'Puli', 'Malli',
       'Malli powder', 'Milagai Vathal', 'Milagai Powder', 'Milagu',
       'Milagu Thul', 'Cashew', 'Rava', 'Refined oil', 'Vendhayam', 'Vellam',
       'Garlic', 'Kal Pasi', 'Pumpkin', 'Sambar Powder', 'Potato',
       'katti peruganyam', 'Mango Pack', 'Nuts', 'Giragam', 'Kalkandu',
       'Mumthal', 'Tea Powder', 'Coconut', 'Appalam', 'Lk Glass',
       'Silvar Glass', 'Sabeena Powder', 'Rava.1', 'Kungumam', 'Kismis',
       'Fortune Oil', 'Sengal(Bricks)', 'Mango(Mangai)', 'Javaraci', 'Hp Gas',
       'Curd', 'Vetttrillai', 'Pakku', 'Butter', 'Valiaikai', 'Samiya',
       'Gold Winner', 'Dates', 'Ballari', 'Manjal Kayiru', 'Kungumam pack',
       'Catds', 'Kungumam cover', 'Plastic Cup', 'Sponge', 'Coffee powder',
       'Gas cylinder', 'palasaraku porul', 'Pam poil']

In [84]:
df.drop("S_No", axis=1, inplace=True)

In [85]:
len(df.columns), len(var)

(90, 90)

In [86]:
var.sort()
var1 = np.array(var)

In [87]:
var2 = df.columns.to_list()
var2.sort()
var2 = np.array(var2)

In [88]:
pd.DataFrame([var1,var2])

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,Annasi Poo,Appalam,Arisi maavu,Ballari,Brinji Ilai,Butter,Cashew,Catds,Coconut,Coffee powder,...,Vendhayam,Vetttrillai,book,contact_number,date,katti peruganyam,name,palasaraku porul,place,seeragam
1,Annasi Poo,Appalam,Arisi maavu,Ballari,Brinji Ilai,Butter,Cashew,Catds,Coconut,Coffee powder,...,Vendhayam,Vetttrillai,book,contact_number,date,katti peruganyam,name,palasaraku porul,place,seeragam

In [89]:
import sqlite3
from typing import Optional


class DonationRecord:
    def __init__(self, ingredients:dict,name:str, contact_number:str, book:str, place:str, date:str, id:Optional[int]=None):
        self.id = id
        self.book = book
        self.name = name
        self.contact_number = contact_number
        self.place = place
        self.date = date 
        self.ingredients = {key: 0 for key in DonationRecord.get_columns()}
        self.ingredients.update(filter_ingredients(ingredients))

    def __str__(self):
        return self.name
    
    def get_params(self):
        return self.__dict__
    
    def get_data_tuple(self):
        return tuple(self.__dict__.values())

    @staticmethod
    def get_columns():
        return [
            'Manjal Podi', 'Pachai Arisi(bag)', 'Pachai Arisi(Loose)',
            'Puzungal Arisi(Bag)', 'Puzungal Arisi(Loose)', 'Ulundhu', 'Nei',
            'Sugar', 'Arisi maavu', 'Thu Parupu', 'Pa parupu', 'Annasi Poo',
            'Ginger', 'Rock Salt', 'Table Salt', 'Elachi', 'Groundnut Oil',
            'Ka parupu', 'Kadala Mavu', 'Kadugu', 'Garam Masala', 'Krambu',
            'seeragam', 'Sombu', 'Grapes', 'Gingerly oil', 'Pattai', 'Brinji Ilai',
            'Perungayam', 'Puli', 'Malli', 'Malli powder', 'Milagai Vathal',
            'Milagai Powder', 'Milagu', 'Milagu Thul', 'Cashew', 'Rava',
            'Refined oil', 'Vendhayam', 'Vellam', 'Garlic', 'Kal Pasi', 'Pumpkin',
            'Sambar Powder', 'Potato', 'katti peruganyam', 'Mango Pack', 'Nuts',
            'Giragam', 'Kalkandu', 'Mumthal', 'Tea Powder', 'Coconut', 'Appalam',
            'Lk Glass', 'Silvar Glass', 'Sabeena Powder', 'Rava.1', 'Kungumam',
            'Kismis', 'Fortune Oil', 'Sengal(Bricks)', 'Mango(Mangai)', 'Javaraci',
            'Hp Gas', 'Curd', 'Vetttrillai', 'Pakku', 'Butter', 'Valiaikai',
            'Samiya', 'Gold Winner', 'Dates', 'Ballari', 'Manjal Kayiru',
            'Kungumam pack', 'Catds', 'Kungumam cover', 'Plastic Cup', 'Sponge',
            'Coffee powder', 'Gas cylinder', 'palasaraku porul', 'Pam poil'
          ]
    
    def insert_record(self) -> bool:
        with sqlite3.connect("madurai.db") as con:
            try:
                cur = con.cursor()
                columns = tuple(self.get_params().keys())[1:-1] + tuple(self.get_params()["ingredients"].keys())
                values = tuple(self.get_params().values())[1:-1] + tuple(self.get_params()["ingredients"].values())
                statement = f"INSERT INTO donation_records {columns} VALUES {values};"
                cur.execute(statement)
                con.commit()
                return True
            except Exception as e:
               return statement, e

def filter_ingredients(ingredients):
    return {key:value for key, value in ingredients.items() if key in DonationRecord.get_columns()}

In [90]:
personal_df = df[df.columns[:5]]
ingridient_df = df[df.columns[5:]]

In [91]:
personal_df.to_dict("split")["columns"]

['book', 'date', 'name', 'place', 'contact_number']

In [92]:
person_dict = personal_df.to_dict("split")["data"]
ingridient_dict = ingridient_df.to_dict("split")["data"]

In [93]:
col = ingridient_df.to_dict("split")["columns"]

In [94]:
data = {key:0 for key in col}

In [95]:
def convert_dict(data:np.array):
    col = ingridient_df.to_dict("split")["columns"]
    return {c:v for c, v in zip(col,data)}

In [97]:
for person, ingridient in zip(person_dict, ingridient_dict):
    quant =  convert_dict(ingridient)
    book, date, name, place, contact_number  = person
    obj = DonationRecord(quant, name, contact_number,book,place, date)
    res = obj.insert_record()
    if res == True:
        print(f"{name} added successfully...")
    else:
        print(res)

Rajagopal & family added successfully...
Karthikayan added successfully...
Sai swastick Traders added successfully...
Pranav Cards added successfully...
Sonaa Cards added successfully...
Uma Maheshwaran added successfully...
Vignesh Sankaran added successfully...
Murugesan added successfully...
Saravana Kumar added successfully...
Palanivel Raj added successfully...
Nagarajan & Prema added successfully...
Jeyachandran - Malai konnar santhana kadai added successfully...
Malai Seenivasan added successfully...
60 added successfully...
Kumaran babitha travels added successfully...
Divya Lakshmi Mbbs added successfully...
Jai traders added successfully...
Mani added successfully...
Jeya Prakash added successfully...
Nevetha added successfully...
Ramesh added successfully...
S venkatesan added successfully...
Saravana Kanna & Gayathiri added successfully...
Alleerama added successfully...
Madurai Ammaiyappar ulvar pani mandram added successfully...
Premaalath added successfully...
Muthu Ganesh Jothi added successfully...
Subashri added successfully...
Thanga Mani added successfully...
Samuvel added successfully...
Murali Mani & Revathi added successfully...
Muruganatham Cithra added successfully...
Ravindran added successfully...
V S Karthi added successfully...
Paranjothi added successfully...
Keerthiga added successfully...
AnandhaNarayanan added successfully...
D R Meenakshi added successfully...
Krishnan added successfully...
Genasekaran added successfully...
Janani mithuleash added successfully...
Srinivasan Priya & Kanimolzhi added successfully...
Hari Pranav added successfully...
Srinivasan Priya added successfully...
Barathan Prabhu added successfully...
Preethi added successfully...
S Armugasamy added successfully...
Vilyankulam -94 added successfully...
Rajesh Kumar added successfully...
Seenivasan added successfully...
Senthil Kumar & Sangeetha added successfully...
BalaKrishanan added successfully...
Aakash Kumar added successfully...
Pradeep added successfully...
G .Sankar Benglauru added successfully...
Vaithiyanatha Chennai added successfully...
Bala Chennai added successfully...
M. Durgamani added successfully...
Renuga added successfully...
Makarani added successfully...
Ramesh kumar police added successfully...
Lakshmi ganeshan pandieswari added successfully...
Santhosh added successfully...
Maheshwari added successfully...
Kovai krishnan added successfully...
Naga Lakshmi added successfully...
Sriram stores added successfully...
Renganathan added successfully...
Ravi added successfully...
Subramanian & kalavathi added successfully...
Latha mai chennai added successfully...
Palaniappan madurai added successfully...
Shanmuga sundaram added successfully...
V Shyam sundar added successfully...
N Balasubramanian Narayanasami moorthy added successfully...
Shiva anand added successfully...
Sami life cares added successfully...
Sundara babu added successfully...
K Subramanian added successfully...
Sribalaji Gas added successfully...
Raha raman added successfully...
N Natarajan added successfully...
Balaji added successfully...
Ramesh babu & Geetha added successfully...
Shiva kumar & sunitha added successfully...
Thirunyana sambatham added successfully...
Loganayagi added successfully...
Thirukumaran auto stand added successfully...
Shanmugavel coffee & subramanian added successfully...
Anna durai added successfully...
Krishnaveni  added successfully...
Karthick Sundareshan added successfully...
Vaishnavi durga added successfully...
Ganesh kumar added successfully...
Balaji & anand & prem added successfully...
D Sridharan added successfully...
S Subramani pandi mani pharmacy added successfully...
S Anand added successfully...
C Ganesh added successfully...
Kantha sami added successfully...
Radhakrishnan traders added successfully...
Senthilnathan & pushparani added successfully...
R. Silanjini added successfully...
VijayaRani added successfully...
Dr Thenmozhli added successfully...
Malliga Traders Muthipatti added successfully...
G K Enterpeises added successfully...
Sivakumar added successfully...
K Venkateshan added successfully...
AthiNath Traders added successfully...
Madura Blocks added successfully...
Paradiase Manisekar added successfully...
V. Ashokan added successfully...
Makal Sakthi Iyaakam Av Premsaran added successfully...
N Veerapandi & natchiamman family added successfully...
Nakshithra Printers added successfully...
Sri Sai Krishna Marketing  added successfully...
Pa anathapathamanathan added successfully...
S Manivasagam added successfully...
Anandan Hamsa Family - kln polytrtechnic added successfully...
K. Baskaran added successfully...
SelvaKumar Sethadevi added successfully...
Manimegaali Arunprasanth added successfully...
Vishnu Subramanian added successfully...
G Ravishankar added successfully...
Muthu Subramanian added successfully...
New Trends added successfully...
M valliammal added successfully...
S Vigneshwaran  added successfully...
Kasthuri Sekar MuthuLakshmi & Jeyakumar South america added successfully...
PalPandi son Family  added successfully...
Sri ramachandran R. Chandra Sekaran added successfully...
Kalliammal added successfully...
P. Setharam & Hemalatha added successfully...
N Ratha Krishnan added successfully...
R .Pubakaran Panjavaranam added successfully...
M Sekar added successfully...
Sri Lakshimi vinayagar -236 added successfully...
M PoomKothai added successfully...
R Aishwarya added successfully...
Alagappan Madurai added successfully...
M Sundararajan added successfully...
Meenakshi sundaram added successfully...
A Kamachi & M Angudas added successfully...
C S Keerthana added successfully...
V. Deepa added successfully...
K R Karthick Magalakshmi & Sankar Janani added successfully...
Nantha Kumar Subramani added successfully...
S Panjavarnam & S m Sangalipandian S. M sankaranaryanana added successfully...
yengeshwari added successfully...
Danshika  added successfully...
M Sureshkannan added successfully...
Senthamarai added successfully...
KR Krishna moorthy added successfully...
Kishore brothers added successfully...
Sri meenakshi added successfully...
Jayakumar velachery chennai added successfully...
Thala[athy vijayabaskaran added successfully...
K Nandha kumar added successfully...
Rathesh krishna chennai added successfully...
Priya sai kumar coimbatore added successfully...
Kumaravel Chennai added successfully...
LK. Prem kumar chennai added successfully...
Baskar Coimbatore added successfully...
Santhiya deep added successfully...
Jagadesh Dindugal added successfully...
M Prabhakaran added successfully...
Balamurugan Latha Kovilpatti added successfully...
S Subburaj madurai added successfully...
Sriharshan madurai added successfully...
TS Ombadrinath added successfully...
R Saravanakumar Anushka added successfully...
GV Shanmuga raj - Malarvizhi added successfully...
S Manivasagam - abirami added successfully...
M Gunasekaran added successfully...
Meenaskhi ganesh & uma kalyana sundaram added successfully...
Lakshmi ganesh added successfully...
Sri Balaji agesncies & S nagarajan added successfully...
Annamalai Industries added successfully...
A Baskaran & Rani added successfully...
S Rajaram added successfully...
Balaji ram added successfully...
MP. Krishna moorthy added successfully...
N Rajasekaran kumar added successfully...
Vasudevan  added successfully...
PMK Nandhini karthickeyan added successfully...
Yamini ganeshan added successfully...
Suvetha & surya narayanan added successfully...
Madhivanan - kalyana sundaram chennai 288 added successfully...
Yamini ganeshan added successfully...
Vetriselvan - siva sankari added successfully...
Balakrishnan family added successfully...
Sri kumaravel HP gas - sabari gurunath added successfully...
Vijaygas palanganatham - sabari gurunath added successfully...
Rajendran ganesh raja added successfully...
S Senthilnathan & k saravanan  added successfully...
S Rajendran added successfully...
D Prasanth kumar added successfully...
A Alagarsami added successfully...
V Sekar madurai added successfully...
Manogaran panimanai added successfully...
GomathiLakshmikannan added successfully...
Muthuraman & Rajeshwari added successfully...
Anand added successfully...
DivyaAravind added successfully...
Kurinjinalli added successfully...
Arasappan added successfully...
S Balachandran added successfully...
Gayathiri added successfully...
Sri Elumani kannan steel added successfully...
Power Health added successfully...
Narchathiri agenecy - Bharat gas added successfully...
Hariharan kudalnagar added successfully...
Saraswathi ricemill added successfully...
P Ramakrishnana added successfully...
Skj jewelry  added successfully...
V Balaji Madurai added successfully...
S Ganesh Vilangudi added successfully...
A .Arun & M baharthMeena added successfully...
P Subramani Selvaragavan added successfully...
Aththi mithran athvith added successfully...
G Ayyanar bodi added successfully...
R Sundarraj added successfully...
N Balasubramanian  SS Colony added successfully...
K Natarajan mandaveli chennai added successfully...
C. Baladevi Madurai added successfully...
SS Asavathaman added successfully...
Pala Ramanatha added successfully...
K Sundarrajan Suganya added successfully...
Venkatesh Vignesh gas agency added successfully...
Jo Karthikeyan added successfully...
Padma added successfully...
S Sundaram added successfully...
Venkat Narayanan added successfully...
R Sakthi Mohan added successfully...
AR Gopal & NG Lalitha added successfully...
N R Venkatesh added successfully...
Saravana Kumar added successfully...
MeenaKumari added successfully...
Javagar added successfully...
SivaKumar & sarumathi added successfully...
GuruGanesan added successfully...
Thuliba & Dekashina added successfully...
Sri Ambaikai Jewelary added successfully...
M Saravanan added successfully...
Vignesh added successfully...
Muthaiya and Co dharmalingam added successfully...
Vimala added successfully...
M latha added successfully...
Rengasamy added successfully...
Kanchana devi added successfully...